* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navbar Styling */

#navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    background-color: #111;
    color: white;
    padding: 10px 20px;
}

#navlist {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navlist a {
    text-decoration: none;
    color: white;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

#navlist a:hover {
    background-color: #111;
}

#navlist a:active {
    background-color: #fff;
}

.Navbar img {
    height: 30px;
}

/* Header and Paragraph Styling */

h2,
h3,
h4,
p {
    color: #4d4b4b;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 30pt;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    padding: 4% 0;
}

h3 {
    font-size: 25pt;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: start;
    padding: 5% 0 0 5%;
}

h4 {
    font-size: 15pt;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: start;
}

p {
    font-size: 13pt;
    line-height: 1.5;
    text-align: start;
    padding: 3% 0 0 5%;
    width: 90%;
}

/* Landing Page Header Background Image */

.headerGallery {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("shakeelamath.viso-test-project.io/viso/landing image.jpg");
    background-size: cover;
    background-position: center;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text {
    font-size: 40px;
    color: white;
    border: 2px solid white;
    padding: 5px;
    box-sizing: border-box;
}

/* About Basketball Container & Elements Styling */

.aboutBBContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutBBContainer .aboutBB {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.aboutBBContainer .aboutBB .imageBox {
    display: flex;
    width: 100%;
}

.aboutBBContainer .aboutBB .imageBox img {
    max-width: 100%;
    object-fit: cover;
    width: 750px;
}

.aboutBBContainer .aboutBB .textBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: #e7e6e6;
}

/* Read More Action Button Styling */

.aboutBBContainer .aboutBB .textBox .aboutBBbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: gray;
    padding: 10px;
    font-size: 12pt;
    margin: 7% 0 5% 5%;
}

.aboutBBContainer .aboutBB .textBox .aboutBBbtn a {
    text-decoration: none;
    color: #fff;
}

/* Button Styling */

.bottombuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    width: 80%;
}

.view,
.scrollup {
    text-align: center;
    padding: 8px;
    margin-top: 5%;
}

.view a,
.scrollup a {
    text-decoration: none;
    padding: 15px;
    border: none;
    background-color: gray;
    color: white;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}

.view a:hover,
.scrollup a:hover {
    background-color: rgb(80, 80, 80);
}

/* Hall Of Fame Container and Elements Styling */

.subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}

.see-all-button {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    margin-right: 70px;
}

.containerClip {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4%;
}

.containerClip .halloffamecontainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
}

.halloffamecontainer .row,
.halloffamecontainer .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4%;
}

.halloffamecontainer .row .column,
.halloffamecontainer .row2 .column {
    display: flex;
    box-shadow: 5px 3px 23px rgba(0, 0, 0, 0.25);
}

.halloffamecontainer .row .column img,
.halloffamecontainer .row2 .column img {
    height: 250px;
    object-fit: cover;
}

.column {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.column:hover .image-container img {
    transform: scale(1.1);
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.column:hover .image-text {
    opacity: 1;
}

/* Footer Styling */

.footer {
    background-color: black;
    padding: 20px.


